* {
	font-family: sans-serif;
	box-sizing: border-box;
	position: relative;
	text-align: center;
}

/*#mainContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}*/

#displayContainer {
	width: 450px;
	height: 120px;
	background-color: grey;
	margin-bottom: 50px;
	padding: 10px 15px;
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
}

.color_display {
	width: 100px;
	height: 100px;
	background-color: black;
	display: inline-block;
	border: 5px solid grey;
}

#inputContainer {
	width: 370px;
	height: 100px;
	background-color: grey;
	padding: 10px;
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
}

.color_button {
	width: 80px;
	height: 80px;
	display: inline-block;
}

/*#input1 {
	background-color: blue;
}

#input2 {
	background-color: green;
}

#input3 {
	background-color: yellow;
}

#input4 {
	background-color: red;
}*/